.nav-user{
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-user__info{
  margin-right: 15px;

}

.nav-user__info h4{
  color: #333;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.nav-user__info p{
  color: #666;
  font-size: 12px;
  margin: 0;
  
}
.button{

    cursor: pointer;
    padding: 10px 20px 10px 20px;
    background-color: #003d36;
    gap: 8;
    color: aliceblue;
    border-radius: 6px;
    border-color: #003d36;
  
}
.bg-light{
  background-color: #003d36;
  border-color: #003d36;

}
.btn-primary{

    cursor: pointer;
    background-color: #003d36;
    gap: 8;
    color: rgb(255, 255, 255);
    border-radius: 6px;
    border-color: #003d36;
    pointer-events: auto;
    -webkit-box-shadow: none;
          box-shadow: none;
}
.btn-primary:hover {
  background-color:#003d36;
  border-color: #003d36;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

a:visited {
  color: #003d36;
}
a {
  color: #003d36;
}
a:hover{
  color: #003d36;

}

a:active {
  color: rgb(94, 31, 78);
}

